{{#extends "base"}}

{{#block "content"}}
<div id="chart"></div>
{{candleStickData}}
{{/block}}


{{#block "script"}}
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<script>
    var options = {
        series: [{
            data: candleStickData
        }],
        chart: {
          type: 'candlestick',
          height: 350
        },
        title: {
          text: 'CandleStick Chart',
          align: 'left'
        },
        xaxis: {
          type: 'datetime'
        },
        yaxis: {
          tooltip: {
            enabled: true
          }
        }
        };
    var chart = new ApexCharts(document.querySelector("#chart"), options);
    chart.render()
</script>


{{/block}}




{{/extends}}